<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <section class="header">
    <div class="clearfix container">
      <ul class="nav-items">
        <li class="nav-item">
          <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Feature</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Screenshots</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Team</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link">News <span class="arrow"></span></a>
          <div class="dropdown-content">
            <ul class="sub-menu">
              <li class="nav-item sub-menu-item"><a href="#" class="nav-link">Recent news1</a></li>
              <li class="nav-item sub-menu-item"><a href="#" class="nav-link">Recent news2</a></li>
              <li class="nav-item sub-menu-item"><a href="#" class="nav-link">Recent news3</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Team</a>
        </li>
      </ul>
    </div>
  </section>
  <section class="top-banner">
    <div class="banner-wrapper">
      <div class="container d-flex">
        <div class="banner-col banner-col-left">
          <p class="text">With us you will</p>
          <h2 class="heading">SUCCEED</h2>
          <p class="text">Proactively syndicate open-source e-markets after low-risk high-yield synergy. Professionally
            simplify visionary technology.</p>
          <button class="btn btn-light">Readmore</button>
        </div>
        <div class="banner-col banner-col-right d-flex">
          <img class="phone" src="../images/mobile-1.png" alt="" />
        </div>
      </div>
    </div>
  </section>
  <section class="collection">
    <div class="container">
      <div class="collection-items">
        <div class="item">
          <i class="fas fa-magic fa-3x icon"></i>
          <h1 class="heading">3 cuc</h1>
          <p class="text">Proactively syndicate open-source e-markets after low-risk high-yield synergy.</p>
        </div>
        <div class="item">
          <i class="fas fa-magic fa-3x icon"></i>
          <h1 class="heading">3 cuc</h1>
          <p class="text">Proactively syndicate open-source e-markets after low-risk high-yield synergy.</p>
        </div>
        <div class="item">
          <i class="fas fa-magic fa-3x icon"></i>
          <h1 class="heading">3 cuc</h1>
          <p class="text">Proactively syndicate open-source e-markets after low-risk high-yield synergy.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="business">
    <div class="container d-flex">
      <div class="col d-flex">
        <img class="mobile" src="../images/mobile-2.png" />
      </div>
      <div class="col">
        <h1 class="heading">Make business easy with us</h1>
        <p class="description">
          survived not only five centuries, but also the leap into
          electronic ypesetting, remaining essentially unchanged. It was
        </p>
        <div class="items">
          <div class="item">
            <span class="fa fa-rocket fa-2x icon" aria-hidden="true"></span>
            <p>Intrinsically aggregate cutting-edge internal or
              "organic" sources through pandemic.
              Intrinsically aggregate cutting-edge internal or
              "organic" sources through pandemic.
              Intrinsically aggregate cutting-edge internal or
              "organic" sources through pandemic.
            </p>
          </div>
          <div class="item">
            <span class="fa fa-rocket fa-2x icon" aria-hidden="true"></span>
            <p>Intrinsically aggregate cutting-edge internal or
              "organic" sources through pandemic.
            </p>
          </div>
          <div class="item">
            <span class="fa fa-rocket fa-2x icon" aria-hidden="true"></span>
            <p>Intrinsically aggregate cutting-edge internal or
              "organic" sources through pandemic.
            </p>
          </div>
          <div class="item">
            <span class="fa fa-rocket fa-2x icon" aria-hidden="true"></span>
            <p>Intrinsically aggregate cutting-edge internal or
              "organic" sources through pandemic.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>