<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <div class="container">
    <div class="content">
      <div class="collection">
        <div class="item">
          <i class="fas fa-magic fa-3x icon"></i>
          <h1 class="heading">3 cuc</h1>
          <p class="text">aksjdalk slaksj dlajs dlajsl dla jsldja aksljda laksjd as djl askjdasd alsjd lajsd ljalj dlaksj dlasj ld</p>
        </div>
        <div class="item">
          <i class="fas fa-magic fa-3x icon"></i>
          <h1 class="heading">3 cuc</h1>
          <p class="text">aksjdalk slaksj dlajs dlajsl dla jsldja aksljda laksjd as djl askjdasd alsjd lajsd ljalj dlaksj dlasj ld</p>
        </div>
        <div class="item">
          <i class="fas fa-magic fa-3x icon"></i>
          <h1 class="heading">3 cuc</h1>
          <p class="text">aksjdalk slaksj dlajs dlajsl dla jsldja aksljda laksjd as djl askjdasd alsjd lajsd ljalj dlaksj dlasj ld</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>