.wrapper {
  padding: 100px 300px;
  background: url('~images/gray-bg.jpg');

  .business {
    display: flex;

    .col{
      width: 50%;

      .mobile {
        display: block;
        margin: auto;
      }
    
      .heading {
        font-size: 32px;
        font-weight: bold;
      }

      .icon {
        display: block;
      }

      .items {
        font-size: 0;
        margin-top: 50px;
        
        .item {
          font-size: 1rem;
          line-height: 1.5rem;
          width: 50%;
          display: inline-block;
          box-sizing: border-box;
          padding: 40px 40px 20px 0;
        }
      }
    }
  }
}
